* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  user-select: none
}

body {
  background-color: black;
}

.main {
  margin: auto;
  max-width: 1000px;
  padding: 10px;
}

.header-section {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
}

.g4-logo {
  max-width: 200px;
}

.user-slug {
  font-weight: bold;
  font-size: 24px;
  background-color: #1e00beff;
  color: rgb(255, 173, 50);
  width: fit-content;
  height: 36px;
  justify-self: end;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 50%;
}

.inside {
  display: flex;
  flex-direction: column;
}

.inside-header {
  font-size: 20px;
  margin-top: 10px;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.inside-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
  gap: 20px;
}

.grid-item {
  width: 100%;
  background-color: #1d1f21;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.grid-item:hover {
  background-color: #2e3133;
}

.grid-item:active {
  background-color: rgb(255, 173, 50);
}

.book-img {
  width: 100%;
  display: inline;
  height: 150px;
  object-fit: cover;
}

.book-info {
  padding-inline: 10px;
}


a {
  text-decoration: none;
  color: rgb(255, 173, 50);
  cursor: pointer;
}

a:hover {
  color: rgb(255, 153, 0);
}

@media (min-width: 992px) {
  .grid-item:hover {
    transform: scale(1.08);
  }
}

@media (max-width: 992px) {
  .inside-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .inside-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 390px) {
  .inside-grid {
    grid-template-columns: 1fr;
  }
}