* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Afacad", serif;
}
body {
  color: #ffffff;
  background: #000000;
  padding: 0px 15px;
}
.backbtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 13px;
  transition: transform 0.2s ease-in-out;

  position: absolute;
  width: 100px;
  height: 26px;
  left: 52px;
  top: 184px;

  font-family: "Afacad";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  border: 0.4px solid #ffffff;
  border-radius: 1000px;
  background-color: #000000;
  color: #ffffff;
}
.backbtn:hover {
  transform: scale(1.1);
}
#date {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 13px;

  font-family: "Afacad";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  position: absolute;
  width: 120px;
  height: 26px;
  left: 1150px;
  top: 184px;

  border: 0.4px solid #ffffff;
  border-radius: 1000px;
  background-color: #000000;
  color: #ffffff;
}

#topic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 19px;
  /* position: absolute; */
  /* width: 780px; */
  /* height: 75px; */
  /* left: 52px; */
  margin-top: 225px;
}
#topic h1 {
  font-family: "Afacad";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  @media (max-width: 640px) {
    font-size: 30px;
  }
}
#subtopic {
  font-family: "Afacad";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53.33px;
  white-space: nowrap;
  @media (max-width: 640px) {
    font-size: 22px;
  }
}
#topic hr {
  width: 100%;
  margin-top: 2px;
  border: 0.5px solid #ffffff;
}
#topic p {
  position: absolute;
  top: 78px;

  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.blog {
  /* position: absolute; */
  /* width: 1218px; */
  /* height: 1460px; */
  /* left: 52px; */
  margin-top: 100px;

  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
#content {
  font-family: "Inter";
  font-style: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.blog p {
  padding-bottom: 30px;
}
